.nav {
    display:flex;
    flex-flow: row wrap;
    font-size: 5rem;
    justify-content: space-between;
    padding: 3%;
    padding-left: 18%;
    padding-right: 18%;
    border-bottom: 2px dashed darkgrey;
    font-family: 'Indie Flower', cursive;
    nav {
        a {
            text-decoration: none;
            color: black;
            font-size: 2rem;
            font-family: 'Roboto', sans-serif;
        }
    }
}

.top-image {
    display: flex;
    justify-content: center;
    img {
        width: 64%;
    }
}